@font-face {
    font-family: 'DeadLockFont';
    src: url('../assets/DecoturaICG.ttf');
    font-weight: normal;
    font-style: normal;
}

/*
    Color Pallete here: https://www.color-hex.com/color-palette/1069181
*/

*,
*::before,
*::after {
    font-family: 'DeadLockFont';
    letter-spacing: 1.5px;
    padding: 0;
    margin: 0;
}

/*Could make navbar transparent but then it looks bad during scrolling*/
header {
    width: 100vw;
    height: 50px;
    padding-top: 25px;
    background-color: #222021;
    position: sticky;
    top: 0;
}

input{
    background-color: #ddd;
    color: #222021;
    border-radius: 8px;
}

button{
    border-style: none;
    border-radius: 12px;
    padding: 8px;
    width: 80px;
    transition: transform 0.3s ease;
    color: #222021;
    background-color: #fff5f6;
    cursor: pointer;
}
    button:hover{
      cursor: pointer;
      transform: scale(1.1);
    }

.primary-btn{
    background-color:#efdebf;
    font-size: medium;
    font-weight: 600;
    margin: 6px;
    width: 200px;
}

nav {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navigation-link {
    text-decoration: none;
    color: #efdebf;
}

a{
    text-decoration: none;
}

@media (min-width: 1400px) {
        body {
            background-size: cover;
        }
}