@font-face {
  font-family: 'DeadLockFont';
  src: url('../assets/DecoturaICG.ttf'); 
  font-weight: normal;
  font-style: normal;
}
* {
    margin: 0px;
}

/*
    Color Pallete here: https://www.color-hex.com/color-palette/1069181
*/

body{
    font-family: 'DeadLockFont';
    letter-spacing: 1.5px;
}

nav{
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    gap: 30px;
    background-color: #222021e7;
}

input{
    background-color: #ddd;
    color: #222021;
    border-radius: 8px;
}

button{
    border-style: none;
    border-radius: 12px;
    padding: 8px;
    width: 80px;
    transform: 0.3s ease all;
    color: #222021;
    background-color: #fff5f6;
    cursor: pointer;
}

.primary-btn{
    background-color:#efdebf;
    font-size: medium;
    font-weight: 600;
    margin: 6px;
}

.primary-btn:hover{
    transform: scale(1.1);
    transform: 0.5s;
}

nav a{
    text-decoration: none;
    color: #efdebf;
}

a{
    text-decoration: none;
}

@media (min-width: 1400px) {
        body {
            background-size: cover;
        }
}