@font-face {
  font-family: 'DeadLockFont';
  src: url('../assets/DecoturaICG.ttf'); 
  font-weight: normal;
  font-style: normal;
}
* {
    margin: 0px;
}

/*
    Color Pallete here: https://www.color-hex.com/color-palette/1069181
*/

body{
    font-family: 'DeadLockFont';
    letter-spacing: 1.5px;
}

nav{
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    gap: 30px;
    background-color: #222021e7;
}

@media (min-width: 1400px) {
        body {
            background-size: cover;
        }
    }